################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/backend/.vs/CloudOpsHub
# .NET build output
**/bin/
**/obj/